.main {
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 8, 111, 1) 50%, rgba(2, 0, 36, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBox{
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    width: 700px;
    height: 550px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 0px 0px 20px 10px gray;    
}